.app {
}

.gradient {
  position: absolute;
  right: 0;
  width:  20%;
  height: 100%;
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255,255,255, 0));
  z-index: 1;
}

.content {
  white-space: nowrap;
  width: 0;
  margin: 50px auto;
  left: -25%;
  position: relative;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.zones {
  position: relative;
}

.zone {
  font-size: 32px;
}

.col1 {
  margin-right: 7px;
}

.zone-label {
  line-height: 50px;
}

.box {
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  transition: background-color 150ms linear;
  vertical-align: bottom;
}

.dates {
  color: #DDD;
  line-height: 65px;
}

.checkin {
  cursor: pointer;
}

.checkin1 { background-color: #58BB8A; }
.checkin0 { background-color: #FED666; }
.checkin-1 { background-color: #E5737C; }

.row-options {
  color: #DDD;
  position: absolute;
  bottom: 0;
  left: -30px;
}

.col-options {
  color: #DDD;
}

.option {
  border: solid 1px #DDD;
  text-align: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.col-option {
  margin: 10px 5px 10px 0;
}
