.app {
  text-align: center;
  margin: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.zone {
  font-size: 32px;
  line-height: 0;
  white-space: nowrap;
}

.zone-label {
  margin-right: 20px;
  margin-top: 27px;
  display: inline-block;
  vertical-align: top;
}

.checkin {
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  transition: background-color 150ms linear;
}

.checkin1 { background-color: #58BB8A; }
.checkin0 { background-color: #FED666; }
.checkin-1 { background-color: #E5737C; }

.options {
  color: #DDD;
  font-size: 37px;
}

.col-option {
  border: solid 1px #DDD;
  margin: 20px 5px;
  text-align: center;
}
