html, body, #root, #app {
  height: 100%;
}

a {
  cursor: pointer;
  color: #0000dd;
}

hr {
  opacity: 0.4;
}

.app {
  font-weight: 300;
}

.night {
  background-color: black;
  color: #333;
}

.night a {
  color: #aaaadd;
}

.status {
  position: absolute;
  top: 10px;
  left: 20px;
  line-height: 1.4;
  z-index: 10;
}

.status-offline {
  color: #E5737C;
}

.mono {
  font-family: monospace;
}

.dim {
  color: #aaa;
}

.popup-container {
  width: calc(100vw - 32px); /* -padding. Use vw units here because sometimes the width is inordinately large (e.g. 1500px and % breaks. */
  height: calc(100vh - 32px);
  background-color: rgba(0,0,0,.2);
  margin: 0 auto;
  padding: 16px;
}

.night .popup-container {
  background-color: transparent;
}

.popup {
  box-shadow: 3px 3px 12px 0 #aaa;
  max-width: 80%;
  max-width: 320px;
  margin: 5vh auto;
  overflow: hidden;
  line-height: 1.4;
  text-align: center;
  background-color: white;
}

/** additional specificity needed to override night mode link selector*/
a.button {
  color: white;
  background-color: #58BB8A;
  width: 50%;
  padding: 10px;
  text-align: center;
  display: inline-block;
  border-radius: 999px;
  margin-top: 10px;
  cursor: pointer;
}

.note-container {
  position: fixed;
  top: 0;
  z-index: 20;
}

.night .note-container {
  background-color: black;
}

.note-popup {
  position: relative;
  height: calc(100% - 20px);
  max-height: calc(100vh - 20px);
  margin-top: 10px;
}

@media only screen and (min-width: 480px) {
  .note-popup {
    margin-top: 10vh;
    height: calc(100% - 20vh);
    max-height: calc(100vh - 10vh);
  }
}

.night .note-popup {
  background-color: black;
  box-shadow: none;
}

.note-label {
  font-size: 48px;
  margin: 0;
}

.note-date {
  font-size: 12px;
  color: #aaa;
  margin: 0 0 5px 0;
}

a.note-button {
  position: absolute;
  bottom: 20px;
  margin-left: calc(-25% - 10px);
}

.note-text {
  resize: none;
  border: none;
  display: block;
  width: calc(100% - 40px);
  height: calc(100% - 200px);
  margin: -110px auto 10px auto; /* negative margin for mobile keyboard alignment. */
  min-height: 100px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  padding: 130px 20px 20px 20px; /* top-padding for mobile keyboard alignment. */
}

.note-text:focus {
  outline: none;
}

.night .note-text {
  color: white;
  background-color: black;
}

.tutorial-container {
  cursor: pointer;
  min-width: 175px;
}

.tutorial-image {
  max-width: 100%;
  /*max-height: 90vh;*/
  max-height: calc(100vh - 220px);
  min-height: 255px;
  min-width: 169px;
  opacity: 0.8;
  box-shadow: none;
}

.tutorial-text {
  margin: 0;
  padding: 20px;
  background-color: #eee;
}

.tutorial-colored-text { padding: 2px; }
.tutorial-green { background-color: #58BB8A; color: white; }
.tutorial-yellow { background-color: #FED666; }
.tutorial-red { background-color: #E5737C; color: white; }

.gradient {
  position: fixed;
  top: 0;
  right: 0;
  width:  20%; /* same as .checkins margin-right. */
  height: 100%;
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255,255,255, 0));
  z-index: 1;
  pointer-events: none;
  font-weight: 300;
}

.desktop-mask  {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  background-color: white;
  z-index: 10;
  height: 100%;
}

.night .desktop-mask {
  background-color: black;
}

@media only screen and (min-width: 480px) {
  .gradient {
    right: 20%;
  }
  .desktop-mask  {
    display: block;
  }
}

.night .gradient {
  background: -webkit-linear-gradient(right, rgba(0, 0, 0, 1), rgba(0,0,0, 0));
}

.content {
  white-space: nowrap;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.settings-content a {
  font-size: 80%;
  margin-right: 5px;
}

/** additional specificity needed to override night mode link selector*/
a.settings-logout {
  color: #E5737C;
  margin-right: 5px;
}

.zones {
  position: relative;
  padding-bottom: 70px; /* room for col-options. */
}

@media only screen and (min-width: 480px) {
  .zones {
    margin-left: 20%;
  }
}

.zone-label {
  line-height: 50px;
  font-size: 32px;
  cursor: pointer;
  margin-right: 7px;
}

.box {
  width: 50px;
  height: 50px;
  text-align: center;
  display: inline-block;
  transition: background-color 150ms linear;
  vertical-align: bottom;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  backface-visibility: hidden; /* improves mobile zoom gridlines issue */
}

.checkin {
  cursor: pointer;
  position: relative;
}

.checkin2 { background-color: transparent; }
.checkin1 { background-color: #58BB8A; }
.checkin0 { background-color: #FED666; }
.checkin-1 { background-color: #E5737C; }

.checkin.faded { opacity: 0.7; }


.clear-checkin .checkin {
  cursor: crosshair;
}

.note-marker {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 999px;
}

.clear-checkin .checkin:hover .manualCheckin {
  background-color: rgba(255,0,0,0.4);
}

.top-options {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
}

.settings-content {
  display: inline-block;
  margin-right: 30px;
  padding: 10px;
  text-align: right;
  line-height: 1.4;
  background-color: rgba(255,255,255,0.7);
  cursor: default;
}

.night .settings-content {
  color: #ccc;
  background-color: rgba(0,0,0,0.7);
}

.settings-option {
  position: absolute;
  top: 0;
  right: 3px;
  opacity: 0.25;
  cursor: pointer;
  padding: 3px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.settings-option.active {
  opacity: 1;
}

.left-controls {
  position: fixed;
  z-index: 1;
  left: 0;
  padding-left: 20px;
  background-color: white;
}

.night .left-controls {
  background-color: black;
}

@media only screen and (min-width: 480px) {
  .left-controls {
    padding-left: calc(20% + 20px);
  }
}

.dates {
  color: #DDD;
  line-height: 65px;
  position: relative; /* for .dates-mask */
}

.dates-mask {
  background-color: white;
  width: 77px; /* .left-controls width */
  position: fixed;
  height: 100%; /* overlap to avoid jitter */
  left: 0;
  z-index: 1; /* above dates but below labels */
}

@media only screen and (min-width: 480px) {
  .dates-mask {
    padding-left: 20%;
  }
}

.night .dates-mask {
  background-color: black;
}

.night .dates {
  color: #333;
}

.checkins {
  margin-right: 20%; /* same as gradient width */
}

.clicknhold {
  display: inline;
}

/* elements that expand when settings are owen */
.checkins, .dates {
  margin-left: 77px; /* relative to .left-controls: 57px width + 20px padding-left */
  transition: margin-left 250ms; /* match .row-options expand */
}

@media only screen and (min-width: 480px) {
  .dates {
    margin-left: calc(20% + 77px);
  }
}

.settings-active .checkins {
  margin-left: 180px; /* +93px for visible .row-options */
}

.settings-active .dates {
  margin-left: 180px; /* +93px for visible .row-options */
}

@media only screen and (min-width: 480px) {
  .settings-active .dates {
    margin-left: calc(20% + 180px);
  }
}

.row-options {
  display: inline-block;
  overflow: hidden;
  width: 0;
  transition: width 250ms;
  margin-top: -1px;
  line-height: 50px;
  vertical-align: middle /* required on .row-options and .option-row */
}

.settings-active .row-options {
  width: 100px; /* explicit width required for transition. same value as auto. */
}

.option {
  color: #DDD;
  border: solid 1px #DDD;
  text-align: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.option-row {
  margin-left: 5px;
  display: inline-block; /* to allow vertical alignment */
  vertical-align: middle /* required on .row-options and .option-row */
}

.col-options {
  margin: 0;
  transition: margin-left 250ms;
}

.settings-active .col-options {
  margin-left: 100px;
}

.col-option {
  margin-top: 15px;
}

.night .option {
  color: #333;
  border-color: #333;
}

.option-hidden {
  visibility: hidden;
}
